*.egg-info/
.krakenduty-poc
/.tox/
/build/
/dist/
__pycache__/
liquidctl/_version.py
.DS_Store
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/liquidctl.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
